<main class="flex flex-col items-center justify-center flex-1 bg-ivory p-6 space-y-4">
        <!-- Banner Section -->
        <div class="bg-banner w-full h-48 md:h-64 bg-cover bg-center rounded-lg shadow-lg mb-10"></div>

        <!-- Boxes Section -->
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 w-full">
            <a class="relative flex items-center justify-center h-48 md:h-64 bg-cover bg-center rounded-lg shadow-lg box1 cursor-not-allowed group transform transition-transform duration-300 hover:scale-105 hover:shadow-2xl">
                <div class="absolute inset-0 flex items-center justify-center bg-black bg-opacity-30 text-white rounded-lg group-hover:text-2xl group-hover:glow">Link here</div>
            </a>
            <a class="relative flex items-center justify-center h-48 md:h-64 bg-cover bg-center rounded-lg shadow-lg box2 group transform transition-transform duration-300 hover:scale-105 hover:shadow-2xl">
                <div class="absolute inset-0 flex items-center justify-center bg-black bg-opacity-30 text-white rounded-lg group-hover:text-2xl group-hover:glow">Plan Your Adventure</div>
            </a>
            <a class="relative flex items-center justify-center h-48 md:h-64 bg-cover bg-center rounded-lg shadow-lg box3 cursor-not-allowed group transform transition-transform duration-300 hover:scale-105 hover:shadow-2xl">
                <div class="absolute inset-0 flex items-center justify-center bg-black bg-opacity-30 text-white rounded-lg group-hover:text-2xl group-hover:glow">Link here</div>
            </a>
            <a class="relative flex items-center justify-center h-48 md:h-64 bg-cover bg-center rounded-lg shadow-lg box4 cursor-not-allowed group transform transition-transform duration-300 hover:scale-105 hover:shadow-2xl">
                <div class="absolute inset-0 flex items-center justify-center bg-black bg-opacity-30 text-white rounded-lg group-hover:text-2xl group-hover:glow">Link here</div>
            </a>
            <a class="relative flex items-center justify-center h-48 md:h-64 bg-cover bg-center rounded-lg shadow-lg box5 cursor-not-allowed group transform transition-transform duration-300 hover:scale-105 hover:shadow-2xl">
                <div class="absolute inset-0 flex items-center justify-center bg-black bg-opacity-30 text-white rounded-lg group-hover:text-2xl group-hover:glow">Link here</div>
            </a>
            <a class="relative flex items-center justify-center h-48 md:h-64 bg-cover bg-center rounded-lg shadow-lg box6 cursor-not-allowed group transform transition-transform duration-300 hover:scale-105 hover:shadow-2xl">
                <div class="absolute inset-0 flex items-center justify-center bg-black bg-opacity-30 text-white rounded-lg group-hover:text-2xl group-hover:glow">Link here</div>
            </a>
        </div>
    </main>