    <main class="flex flex-1 justify-center items-center bg-ivory p-8">
        <div class="relative w-full h-[calc(100vh-12rem)] border-2 border-chocolateBrown rounded-lg overflow-hidden fantasy-map">
            <a href="/"" class="map-item item1 absolute top-[10%] left-[30%] p-4 bg-softWhite bg-opacity-80 border border-charcoal cursor-pointer transition-transform transform hover:scale-110 hover:bg-oldPaper">(Link here)</a>
            <a href="plan_trip.html" class="map-item item2 absolute top-[20%] right-[20%] p-4 bg-softWhite bg-opacity-80 border border-charcoal cursor-pointer transition-transform transform hover:scale-110 hover:bg-oldPaper">Plan Your Adventure</a>
            <a href="/"" class="map-item item3 absolute bottom-[15%] left-[20%] p-4 bg-softWhite bg-opacity-80 border border-charcoal cursor-pointer transition-transform transform hover:scale-110 hover:bg-oldPaper">(Link here)</a>
        </div>
    </main>