        <main class="flex flex-col items-center justify-center flex-1 p-6 space-y-4 background-image">
            <!-- Hero Section -->
            <div class="w-full max-w-3xl text-center bg-opacity-75 p-8 rounded-lg shadow-lg content-container">
                <h1 class="text-5xl font-bold text-gradient mb-4">Emark on Epic Adventures</h1>
                <p class="text-xl mb-6">Start your journey today with All Who Wander:  Where every path leads to discovery and every trip becomes an unforgettable adventure.</p>
                <div class="flex justify-center space-x-4">
                    <a href="#" id="register-btn" class="button-primary px-6 py-2 rounded-lg shadow hover:bg-blue-600 transition">Register!</a>
                    <a href="#" id="login" class="button-secondary px-6 py-2 rounded-lg shadow hover:bg-gray-800 transition">Login</a>
                </div>
            </div>
        </main>

        <script src="/js/homepage.js"></script>