
{{#extends 'layouts/main'}}
  {{#block 'title'}}Login - All Who Wander{{/block}}

  {{!-- login page content --}}
  {{#block 'body'}}
    <div class="max-w-sm w-full bg-softWhite p-8 rounded-lg shadow-lg">
        <h2 class="text-2xl font-bold mb-4">Login</h2>
        <form>
            <div class="mb-4">
                <label for="email" class="block text-charcoal mb-2">Email</label>
                <input type="email" id="email" class="w-full p-2 border border-chocolateBrown rounded" placeholder="Enter your email">
            </div>
            <div class="mb-4">
                <label for="password" class="block text-charcoal mb-2">Password</label>
                <input type="password" id="password" class="w-full p-2 border border-chocolateBrown rounded" placeholder="Enter your password">
            </div>
            <button type="submit" class="w-full bg-oceanBlue text-white p-2 rounded hover:bg-goldenYellow transition">Login</button>
        </form>
    </div>
  {{/block}}

  {{!--scripts --}}
  {{#block 'scripts'}}
  {{/block}}
{{/extends}}
