/* assets/style.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner {
    background-image: url('assets/images/banner.jpg');
    background-size: cover;
    background-position: center;
}

.box {
    position: relative;
    background-size: cover;
    background-position: center;
}

.box1 {
    background-image: url(''); 
}

.box2 {
    background-image: url(''); 
}

.box3 {
    background-image: url(''); 
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
}

@media (max-width: 768px) {
    .box {
        height: 36vw; /* Adjust height for smaller screens */
    }
}
