* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fantasy-map {
    background: url('../assets/images/allwhowander1.jpg') no-repeat center center;
    background-size: cover;

}

.item1 {
    top: 10%;
    left: 30%;
}

.item2 {
    top: 20%;
    right: 20%;
}

.item3 {
    bottom: 15%;
    left: 20%;
}
